.fabric/*
crash-reports/*
logs/*
patched_shaders/*
saves/*
XaeroWorldMap/*
screenshots/*
shaderpacks/*
options.txt
servers.dat
servers.dat_old
slotlock.json
usercache.json
usernamecache.json
realms_persistence.json
minecraftinstance.json
.curseclient
