.fabric/*
crash-reports/*
resourcepacks/*
logs/*
patched_shaders/*
dashloader-cache/*
saves/*
XaeroWorldMap/*
screenshots/*
servers.dat
servers.dat_old
usercache.json
usernamecache.json
realms_persistence.json
minecraftinstance.json
.curseclient
profileImage/animated.png
BTLib.dll
