.fabric/*
crash-reports/*
resourcepacks/*
logs/*
patched_shaders/*
dashloader-cache/*
saves/*
fancymenu_data/*
XaeroWorldMap/*
XaeroWaypoints/*
XaeroWaypoints_BACKUP*/*
not-enough-crashes/*
options.justenoughkeys.txt
screenshots/*
servers.dat
servers.dat_old
usercache.json
usernamecache.json
realms_persistence.json
minecraftinstance.json
.curseclient
profileImage/animated.png
BTLib.dll

runtime/*
versions/*
assets/*
libraries/*
tlauncher_libraries/*
TempOptifineStore-1.0.json
TlauncherProfiles.json
worlds.json
launcher_profiles.json
